<html>
    <head>
        <script src="convertcsv.json" ></script>
    </head>
    <body>        
        <select type="button" data-toggle="dropdown" id="routes">
            <option disabled="disbaled" selected="selected">Choose route</option>
        </select>
    </body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="convertcsv.json"></script>
    <script>
        
    var jsonList = {
    "bus_stops": [
 {
   "stop_id": "8220DB000002",
   "stop_name": "Parnell Square, Rotunda",
   "stop_lat": 53.3522439241978,
   "stop_lon": -6.26369319257185
 },
 {
   "stop_id": "8220DB000003",
   "stop_name": "Parnell Square, Rotunda",
   "stop_lat": 53.3523081145137,
   "stop_lon": -6.26378071577474
 },
 {
   "stop_id": "8220DB000004",
   "stop_name": "Parnell Square, Rotunda",
   "stop_lat": 53.3525653119822,
   "stop_lon": -6.26416083778913
 },
 {
   "stop_id": "8220DB000006",
   "stop_name": "Parnell Square, Rotunda",
   "stop_lat": 53.3527401345352,
   "stop_lon": -6.26443915559566
 },
 {
   "stop_id": "8220DB000007",
   "stop_name": "Parnell Square, Rotunda",
   "stop_lat": 53.352831709423,
   "stop_lon": -6.26455561279244
 },
 {
   "stop_id": "8350DB007522",
   "stop_name": "Boghall Road, Bray",
   "stop_lat": 53.1887123211822,
   "stop_lon": -6.12152645441743
 }]}


    $(document).ready(function(){
      var listItems= "";
      for (var i = 0; i < jsonList.bus_stops.length; i++){
        listItems+= "<option value='" + jsonList.bus_stops[i].stop_name + "'>" + jsonList.bus_stops[i].stop_name + "</option>";
      }
      $("#routes").html(listItems);
    });  </script>
</html>
