<html>
    <head>
        <title>Dublin Bus Dynamic Time Application</title>
        <link rel="stylesheet" type="text/css" href="../static/index.css?q=54445658743">
<!--        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    </head>
    <body onload="api()">
        <!--Header-->
        <header id="header">
            <h1>DB Predict</h1>
        </header>
         <!--Wrapper for Page Content-->
        <div id="wrapper">
            <!--Weather Div to Display Live Weather Data-->
            <div id="weather"></div>
            <!--Map-->
            <div id="google-map"><p>Map goes here</p></div>
            <!--Select boxes for data values-->
            <div id="dropdowns">
                <form method="post" action="{{ url_for('routes') }}">
                <select type="button" data-toggle="dropdown" name="chosenroute" id="chosenroute" onclick="changeMap()">
                    {% for n in json_routes %}
                        <option id='route_id' value="{{ n.route_id + n.route_name}}"{% if loop.first %} SELECTED{% endif %}>{{ n.route_id + ": " + n.route_name}}</option>
                    {% endfor %}
                </select>
                <select type="button" data-toggle="dropdown" name="chosenorigin">
                    {% for m in json_file_stops %}
                        <option value="{{ m.shortname + m.stopid|string}}"{% if loop.first %} SELECTED{% endif %}>{{ m.shortname + " - Stop No. " + m.stopid|string}}</option>
                    {% endfor %}
                </select>
                <select type="button" data-toggle="dropdown" name="chosendestination">
                    {% for m in json_file_stops %}
                        <option value="{{ m.stopid|string + m.shortname}}"{% if loop.first %} SELECTED{% endif %}>{{ m.shortname + " - Stop No. " + m.stopid|string}}</option>
                    {% endfor %}
                </select>
                <select name="chosenday">
                    <option id='0'>0: Monday</option>
                    <option id='1'>1: Tuesday</option>
                    <option id='2'>2: Wednesday</option>
                    <option id='3'>3: Thursday</option>
                    <option id='4'>4: Friday</option>
                    <option id='5'>5: Saturday</option>
                    <option id='6'>6: Sunday</option>
                </select>
                <select name="chosentime">
                    <option>07.00</option>
                    <option>08.00</option>
                    <option>09.00</option>
                    <option>10.00</option>
                    <option>11.00</option>
                    <option>12.00</option>
                    <option>13.00</option>
                    <option>14.00</option>
                    <option>15.00</option>
                    <option>16.00</option>
                    <option>17.00</option>
                    <option>18.00</option>
                    <option>19.00</option>
                    <option>20.00</option>
                    <option>21.00</option>
                    <option>22.00</option>
                    <option>23.00</option>
                </select>
                <select name="chosentemp">
                    <option>12: Rainy</option>
                    <option>2: Sunny</option>
                    <option>0</option>
                </select>
                <select name="chosenhumid">
                    <option>19: Rainy</option>
                    <option>2: Sunny</option>
                    <option>0</option>
                </select>
<!--
                <select name="chosenpres">
                    <option>65: Rainy</option>
                    <option>2: Sunny</option>
                    <option>0</option>
                </select>
-->
                    
                <input type="submit">
                </form>
            </div>
            <div class="container">
            {% block content %}{% endblock %}
            </div>
            <!--Footer-->
            <footer id="footer">
                <p>Team Members: Davy Shaw, Aongus Bates, Claudia Kinsella, Chen Zeng</p>
            </footer>
        </div> 
    </body>
    
    <!--Scripts for Webpage-->
    <!--Script for Live Weather Data-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script type="text/javascript">
            function api(){
                var api_key = '44b78ac274e9d94337e6620489fdcdbe';
                var url = $.getJSON("http://api.openweathermap.org/data/2.5/weather?q=Dublin,IE&units=metric&APPID=" + api_key, function(data){
                console.log("success");
//            document.getElementById("weather").style.display = "inline-block";
            document.getElementById("weather").innerHTML = '<p>Current Weather in Dublin</p>' +
                '<p>' + "Temperature: " + data.main.temp + '&deg;C' + '</p>'
                + '<p>' + "Humidity: " + data.main.humidity + '%' + '</p>'
                + '<p>' + "Wind Speed: " + data.wind.speed + 'km/h' + '</p>'
                + '<p>' + "<img src=\"http://openweathermap.org/img/w/" + data.weather[0].icon + ".png\">" + '</p>';
            })
        }
        </script>
    
    <!--Google Map API Script-->
    <script>
        function myMap() {
            var mapLocale= {
                center:new google.maps.LatLng(53.345300, -6.275769),
                zoom:11,
            };
            var map=new google.maps.Map(document.getElementById("google-map"),mapLocale);
               
        $.getJSON('../static/routes_and_stops.json', function(data){
        for (var i = 0; i < data.length; i++) {
        var item = data[i];

        var markerLatlng = new google.maps.LatLng(item.latitude, item.longitude);
        var marker = new google.maps.Marker({
            position: markerLatlng
        });
        marker.item = item; // store information of each item in marker
        marker.setMap(map); // where `map` is the instance of Google Map
        google.maps.event.addListener(marker, "click", function(mark) {
            // retrieve information using `this.item` and create dynamic HTML to show it. 
            // this.item.Post.datetime, this.item.Post.content etc.
    });

}
        
    });
//            $("#chosenroute").change(function() {
//  var lat = $("#dropdown route_id:selected").data('latitude');
//  var lng = $("#dropdown route_id:selected").data('longitude');
//  changeLoc(latitude, longitude);
//});
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiubTHzeKWvkVLFSWQ1MY_7yNjizKQxbU&callback=myMap"></script>
    
    
    
<!-- Script to update map based on Route Selection -->
    <script>
        function changeMap(route) {
        var c = coords[route].split(',');
            map.setCenter(new google.maps.LatLng(c[0], c[1]));
        }
    </script>

</html>
